@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "jost";
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 140px;
    padding-right: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
.feature-button {
  display: block;
  width: 180px;
  height: 50px;
  background: #7387EF;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 14px;
}

.feature-button:hover {
  background: #FFFFFF;
  color: #000;
}

.feature {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.card-feature {
  width: 260px;
  height: 347px;
  background: #1E1E1E;
  margin-bottom: 28px;
}

.feature-h {
  font-family: "Jost";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.img-feature {
  width: 195.68px;
  height: 218.42px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .card-list {
    display: flex;
    flex-direction: row;
  }
  .card-feature {
    margin-right: 34px;
  }
  .feature-h {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .social_networks {
    display: none;
  }
}
.footer-icon-1,
.footer-icon-2,
.footer-icon-3 {
  width: 33px;
  height: 33px;
}

.footer {
  background-color: #7387EF;
}

.footer-item-text {
  color: white;
}

.about_company {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-icon-list {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-1,
.footer-icon-2 {
  margin-bottom: 5px;
}

.footer-icon {
  border: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .div-about_company {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icon-1,
  .footer-icon-2 {
    width: 65px;
    height: 64px;
    margin-right: 17px;
  }
  .footer-icon-3 {
    width: 65px;
    height: 64px;
    margin-right: 0;
  }
  .about_company {
    margin-bottom: 40px;
  }
  .social_networks {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer > .container {
    padding-top: 54px;
    padding-bottom: 71px;
  }
  .footer-icon-list {
    display: flex;
    flex-direction: row;
  }
}
.gtr-our-line {
  background-color: #1E1E1E;
}

.gtr-our-line-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.img1 {
  grid-area: img1;
  display: none;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
  display: none;
}

.img5 {
  grid-area: img5;
  display: none;
}

.img6 {
  grid-area: img6;
  display: none;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .img1 {
    display: block;
    width: 220px;
    height: 150px;
  }
  .img3 {
    display: none;
  }
  .img4 {
    display: block;
    width: 150px;
    height: 120px;
  }
  .img5 {
    display: block;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 252px 321px;
    grid-template-rows: 174.5px 166px;
    gap: 5px 12px;
    grid-auto-flow: row;
    grid-template-areas: "img1 img2" "img4 img5";
    margin-left: auto;
  }
  .img1 {
    grid-area: img1;
    width: 250px;
    height: 170px;
  }
  .img4 {
    grid-area: img4;
    width: 250px;
    height: 160px;
  }
  .img2 {
    grid-area: img2;
    width: 250px;
    height: 170px;
  }
  .img5 {
    grid-area: img5;
    width: 250px;
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(114px, 1fr));
    gap: 15px 35px;
    grid-auto-flow: row;
    grid-template-areas: "img1 img1 img2 img4" "img1 img1 img3 img4" "img5 img6 img6 img4";
  }
  .wrapper li img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заповнює контейнер зображенням */
  }
  .img1 {
    grid-area: img1;
    width: 563px;
    height: 375px;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
    display: block;
  }
  .img4 {
    grid-area: img4;
    width: auto;
    height: 732px;
  }
  .img5 {
    grid-area: img5;
    width: 264px;
    height: 316px;
  }
  .img6 {
    grid-area: img6;
    display: block;
  }
}
.icon-cross,
.icon-menu {
  display: inline-block;
  fill: black;
  width: 25px;
  height: 25px;
}

.logo-wrapper {
  text-align: left;
}

.header-logo {
  width: 74px;
  height: 74px;
}

@media (max-width: 768px) {
  .page-header .flexbox {
    align-items: center;
    justify-content: flex-start;
  }
}
.page-header {
  height: 80px;
  position: relative;
  background-color: #7387EF;
}

@media (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}
.menu-container {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    color: black;
    background-color: white;
    border-top: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    padding: 60px 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container .site-nav .current {
    color: #7387EF;
  }
  .menu-container .site-nav .current:after {
    background-color: #7387EF;
  }
}
@media (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}
@media (min-width: 1182px) {
  .menu-container {
    align-items: baseline;
  }
}
.menu-button {
  position: absolute;
  right: 15px;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}

.menu-button:hover, .menu-button:focus {
  fill: white;
}

.menu-button .icon-cross {
  opacity: 0;
}

.menu-button.is-open .icon-cross {
  opacity: 1;
}

.menu-button.is-open .icon-menu {
  opacity: 0;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.site-nav .current {
  color: white;
}

@media (min-width: 768px) {
  .site-nav {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1182px) {
  .site-nav {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 100px;
  }
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1182px) {
  .navigation {
    margin-right: 0;
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: black;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: white;
}

.site-nav__link .current {
  color: white;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: inline-block;
    font-size: 18px;
  }
}
.site-nav__link {
  position: relative;
}

.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

@media (min-width: 1182px) {
  .nav-box {
    justify-content: center;
    align-items: baseline;
  }
}
.hero {
  background-image: url(../src/img/main_photo2.jpg);
  height: 288px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero > .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../src/img/main_photo1.jpg);
  }
}
.hero-about-us {
  background-image: url(../src/img/GTRline1.jpg);
  height: 709px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero-about-us {
    background-image: url(../src/img/GTRline1.jpg);
    height: 702px;
  }
}
.feature-about-us {
  display: flex;
}

.feature-about-us-img {
  display: none;
}

.feature-about-us-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .feature-about-us > div {
    display: flex;
    flex-direction: row;
  }
  .feature-about-us-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
  }
  .feature-about-us-img {
    display: flex;
    width: 300px;
    height: 197px;
  }
  .feature-about-us-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .feature-about-us {
    display: flex;
    flex-direction: column;
  }
}
.our-team-about-us-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
}

.card-list-about-us {
  display: flex;
  margin-top: 55px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-about-us-li {
  width: 260px;
  height: 347px;
  background: #1E1E1E;
  margin-bottom: 28px;
}

.img-about-us {
  width: 195.68px;
  height: 218.42px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .card-list-about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 auto;
  }
  .card-list-about-us {
    justify-content: space-around;
  }
}
.R35-about-us-ul {
  display: flex;
  flex-direction: column;
}

.R35-about-us-wrapper {
  display: flex;
  justify-content: center;
}

.R35-about-us-img {
  width: 480px;
  height: 290px;
  margin-top: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.R35-about-us-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.R35-about-us-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .R35-about-us-ul {
    display: flex;
    flex-direction: row;
  }
  .R35-about-us-text {
    margin-right: 50px;
    display: block;
    margin-top: 105px;
  }
}
.Nissan-line-about-us-wrapper {
  text-align: center;
}

.Nissan-line-about-us-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  color: #000000;
  margin-bottom: 30px;
}

.Nissan-line-about-us-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  align-items: center;
}

.GT-R34-about-us {
  display: flex;
}

.GT-R34-about-us-img {
  display: none;
}

.GT-R34-about-us-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .GT-R34-about-us > div {
    display: flex;
    flex-direction: row;
  }
  .GT-R34-about-us-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
  }
  .GT-R34-about-us-img {
    display: flex;
    width: 300px;
    height: 197px;
  }
  .GT-R34-about-us-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .GT-R34-about-us {
    display: flex;
    flex-direction: column;
  }
}
.GT-R-R32-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GT-R-R32-img {
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .GT-R-R32-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .GT-R-R32-img {
    width: 480px;
    height: 290px;
    margin-right: 155px;
    margin-top: 50px;
  }
  .GT-R-R32-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  .GT-R-R32-text {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: left;
    width: 414px;
  }
}
.GT-R-R33-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.GT-R-R33-img {
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .GT-R-R33-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .GT-R-R33-img {
    width: 480px;
    height: 290px;
    margin-left: 155px;
    margin-top: 50px;
  }
  .GT-R-R33-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  .GT-R-R33-text {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: left;
    width: 414px;
  }
}
.GT-R-R34-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.GT-R-R34-img {
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .GT-R-R34-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .GT-R-R34-img {
    width: 480px;
    height: 290px;
    margin-right: 155px;
    margin-top: 50px;
  }
  .GT-R-R34-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  .GT-R-R34-text {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: left;
    width: 414px;
  }
}
.GT-R-R35-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.GT-R-R35-img {
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .GT-R-R35-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .GT-R-R35-img {
    width: 480px;
    height: 290px;
    margin-left: 155px;
    margin-top: 50px;
  }
  .GT-R-R35-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
  }
  .GT-R-R35-text {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: left;
    width: 414px;
  }
}
.gtr-R35 {
  display: flex;
}

.R35-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-R35 {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 260px;
  margin-top: 20px;
}

.R35-h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.R35-rudder {
  display: none;
}

@media screen and (min-width: 768px) {
  .gtr-R35 > div {
    display: flex;
    justify-content: center;
  }
  .img-R35 {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .gtr-R35 > div {
    display: flex;
  }
  .R35-list > li {
    display: flex;
    justify-content: start;
  }
  .R35-rudder {
    display: block;
    width: 250px;
    height: 150px;
    margin-top: 120px;
    margin-left: 30px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .img-R35 {
    width: 300px;
    height: 197px;
    margin-left: 70px;
  }
  .R35-h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.GTR-r34 {
  display: flex;
}

.R34-rudder {
  display: none;
}

.img-R34 {
  display: none;
}

.R34-h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.img-R34_2 {
  width: 260px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .GTR-r34 > div > ul {
    display: inline-flex;
    justify-content: center;
  }
  .img-R34_2 {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .GTR-r34 > div {
    display: flex;
    flex-direction: row;
  }
  .R34-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .img-R34_2 {
    display: none;
  }
  .img-R34 {
    display: flex;
    width: 300px;
    height: 197px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .R34-h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .R34-list > li {
    display: flex;
    flex-direction: column;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 60rem;
  max-height: 33rem;
  overflow: hidden;
  border-radius: 2px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content-left,
.modal-content-right {
  flex: 0 1 auto;
}

.modal-content-left {
  flex: 2;
}

.modal-content-left img {
  width: 40rem;
  max-width: 95%;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 2px;
}

.modal-content-right {
  flex: 2;
  max-width: 100%;
  padding: 1rem 3rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close,
.close-imp {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  border-radius: 2px;
  transition: 0.4s ease-out;
}

.close:hover,
.close:focus,
.close-imp:hover,
.close-imp:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-family: "Patua One", cursive;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}

.modal-header p {
  margin: 0;
  padding: 0;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 0.5rem 3rem;
}

.modal-header {
  padding-top: 2rem;
}

.modal-footer {
  padding-bottom: 2rem;
}

/* ===== Page Content ===== */
h1 {
  font-family: "Patua One", cursive;
  text-align: center;
  font-size: 3rem;
}

.input-label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
}

.form-input {
  width: 400px;
  height: 35px;
  background: linear-gradient(0deg, #E2E2E2, #E2E2E2), linear-gradient(0deg, #8A8A8A, #8A8A8A), #8A8A8A;
  border-radius: 15px;
}

.form-button {
  display: block;
  width: 235px;
  height: 61px;
  background: #7387EF;
  border-radius: 15px;
}

@media screen and (min-width: 320px) {
  .form-input {
    width: 250px;
  }
  .modal-content-left {
    display: none;
  }
  .modal-content {
    max-width: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .modal-content-left {
    display: none;
  }
  .modal-content {
    max-width: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 40rem;
  }
  .modal-content-left {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .modal-content {
    max-width: 60rem;
  }
  .form-input {
    width: 400px;
  }
}/*# sourceMappingURL=main.css.map */