@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "jost";
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 140px;
    padding-right: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
.feature-button {
  width: 180px;
  height: 50px;
  background: #7387EF;
  border-radius: 15px;
  color: #fff;
  align-items: center;
  margin-top: 14px;
  margin-left: 50px;
}

.feature-button:hover {
  background: #FFFFFF;
  color: #000;
}

.feature {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.card-feature {
  width: 279px;
  height: 347px;
  background: #1E1E1E;
  border-radius: 15px;
  margin-bottom: 28px;
}

.feature-h {
  font-family: "Jost";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.img-feature {
  width: 195.68px;
  height: 218.42px;
  margin-top: 32px;
  margin-left: 41.5px;
}

@media screen and (min-width: 1200px) {
  .card-list {
    display: flex;
    flex-direction: row;
  }
  .card-feature {
    margin-right: 34px;
  }
  .feature-h {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .social_networks {
    display: none;
  }
}
.footer-icon-1,
.footer-icon-2,
.footer-icon-3 {
  width: 33px;
  height: 33px;
}

.footer {
  background-color: #7387EF;
}

.footer-item-text {
  color: white;
}

.about_company {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-icon-list {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-1,
.footer-icon-2 {
  margin-bottom: 5px;
}

.footer-icon {
  border: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .div-about_company {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icon-1,
  .footer-icon-2 {
    width: 65px;
    height: 64px;
    margin-right: 17px;
  }
  .footer-icon-3 {
    width: 65px;
    height: 64px;
    margin-right: 0;
  }
  .about_company {
    margin-bottom: 40px;
  }
  .social_networks {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer > .container {
    padding-top: 54px;
    padding-bottom: 71px;
  }
  .footer-icon-list {
    display: flex;
    flex-direction: row;
  }
}
.gtr-our-line {
  background-color: #1E1E1E;
}

.gtr-our-line-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(114px, 1fr));
  gap: 15px 35px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img1 img2 img4" "img1 img1 img3 img4" "img5 img6 img6 img4";
}

.wrapper li img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заповнює контейнер зображенням */
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
}

.GTR-r34 {
  display: flex;
}

.R34-rudder {
  display: none;
}

.img-R34 {
  display: none;
}

.R34-h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.img-R34_2 {
  width: 260px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .GTR-r34 > div {
    display: flex;
    flex-direction: row;
  }
  .R34-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .img-R34_2 {
    display: none;
  }
  .img-R34 {
    display: flex;
    width: 300px;
    height: 197px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .R34-h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .R34-list > li {
    display: flex;
    flex-direction: column;
  }
}
.gtr-R35 {
  display: flex;
}

.R35-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-R35 {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 260px;
  margin-top: 20px;
}

.R35-h3 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.R35-rudder {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gtr-R35 > div {
    display: flex;
  }
  .R35-list > li {
    display: flex;
    justify-content: start;
  }
  .R35-rudder {
    display: block;
    width: 250px;
    height: 150px;
    margin-top: 120px;
    margin-left: 30px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .img-R35 {
    width: 300px;
    height: 197px;
    margin-left: 70px;
  }
  .R35-h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.header {
  width: 100%;
  height: 74px;
  background-color: #7387EF;
}

.header-nav-list {
  display: flex;
  height: 74px;
  align-items: center;
}

.header-nav-item .active {
  color: white;
}

.header-nav-item {
  margin-right: 100px;
  text-align: center;
  width: 166px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.header-nav-item a:hover {
  color: #FFFFFF;
}

.header-logo {
  width: 74px;
  height: 74px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    width: 100%;
    height: 74px;
    background-color: #7387EF;
  }
  .header-nav-list {
    display: flex;
    height: 74px;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .header-nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #444;
  }
  .burger {
    display: none;
    cursor: pointer;
  }
  .burger span {
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
  .burger {
    display: block;
  }
  .header-nav-list {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .header-nav-item {
    display: block;
    margin: 5px 0;
  }
  nav a {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
  nav a:hover {
    background-color: #444;
    border-bottom: 1px solid #fff;
  }
  #burger:checked ~ ul {
    display: block;
  }
  #burger:checked ~ .burger span:nth-of-type(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  #burger:checked ~ .burger span:nth-of-type(2) {
    opacity: 0;
  }
  #burger:checked ~ .burger span:nth-of-type(3) {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header-nav-item:nth-child(1) {
    order: 1;
  }
  .header-nav-item:nth-child(2) {
    order: 3;
  }
  .header-nav-item:nth-child(3) {
    order: 2;
  }
  .header-nav-item:nth-child(4) {
    display: none;
  }
}
.hero {
  background-image: url(../srs/img/main_photo\ 2.jpg);
  height: 288px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero > .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../srs/img/main_photo\ 1.jpg);
    height: 702px;
  }
}
.hero-about-us {
  background-image: url(/srs/img/GTRline1.jpg);
  height: 709px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero-about-us {
    background-image: url(/srs/img/GTRline1.jpg);
    height: 702px;
  }
}
.feature-about-us {
  display: flex;
}

.feature-about-us-img {
  display: none;
}

.feature-about-us-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .feature-about-us > div {
    display: flex;
    flex-direction: row;
  }
  .feature-about-us-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
  }
  .feature-about-us-img {
    display: flex;
    width: 300px;
    height: 197px;
  }
  .feature-about-us-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .feature-about-us {
    display: flex;
    flex-direction: column;
  }
}
.our-team-about-us-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
}

.our-team-about-us-list {
  display: flex;
}

.R35-about-us-wrapper {
  display: flex;
  justify-content: center;
}

.R35-about-us-img {
  width: 480px;
  height: 290px;
  margin-left: 155px;
}

.R35-about-us-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.R35-about-us-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  width: 414px;
}

.Nissan-line-about-us-wrapper {
  text-align: center;
}

.Nissan-line-about-us-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  color: #000000;
  margin-bottom: 30px;
}

.Nissan-line-about-us-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  margin-left: 27%;
}

.GT-R34-about-us {
  display: flex;
}

.GT-R34-about-us-img {
  display: none;
}

.GT-R34-about-us-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .GT-R34-about-us > div {
    display: flex;
    flex-direction: row;
  }
  .GT-R34-about-us-rudder {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 100px;
  }
  .GT-R34-about-us-img {
    display: flex;
    width: 300px;
    height: 197px;
  }
  .GT-R34-about-us-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .GT-R34-about-us {
    display: flex;
    flex-direction: column;
  }
}
.GT-R-R32-wrapper {
  display: flex;
  justify-content: center;
}

.GT-R-R32-img {
  width: 480px;
  height: 290px;
  margin-right: 155px;
  margin-top: 50px;
}

.GT-R-R32-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.GT-R-R32-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  width: 414px;
}

.GT-R-R33-wrapper {
  display: flex;
  justify-content: center;
}

.GT-R-R33-img {
  width: 480px;
  height: 290px;
  margin-left: 155px;
  margin-top: 50px;
}

.GT-R-R33-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.GT-R-R33-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  width: 414px;
}

.GT-R-R34-wrapper {
  display: flex;
  justify-content: center;
}

.GT-R-R34-img {
  width: 480px;
  height: 290px;
  margin-right: 155px;
  margin-top: 50px;
}

.GT-R-R34-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.GT-R-R34-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  width: 414px;
}

.GT-R-R35-wrapper {
  display: flex;
  justify-content: center;
}

.GT-R-R35-img {
  width: 480px;
  height: 290px;
  margin-left: 155px;
  margin-top: 50px;
}

.GT-R-R35-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.GT-R-R35-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
  width: 414px;
}/*# sourceMappingURL=main.css.map */