
.feature-list{
    display: flex;
    flex-direction: column;
}

.feature>h3{
    width: 100%;
    height: 35px;

    display: flex;
}

.feature-card{
    background-color: #1E1E1E;
    width: 279px;
    height: 347px;
    border-radius: 15px;

    margin-top: 28px;
}

.feature-img{
    width: 205px;
    height: 218px;

    margin-left: 35px;
    margin-top: 32px;
}

@media screen and (min-width:1200px){
.feature>h3{
    width: 100%;
    height: 35px;
    
    display: flex;
    justify-content: center;
    }

    .feature-list{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .feature-card{
        width: 365px;
        height: 421px;
        margin-right: 34px;
    }

    .feature-img{
        width: 275px;
        height: 265px;
        margin-left: 48px;
    }
}
