@media screen and (min-width: 0px) and (max-width: 1199px) {
    .social_networks {
        display: none;
    }
}

.footer-icon-1,
.footer-icon-2,
.footer-icon-3 {
    width: 33px;
    height: 33px;
}

.footer {
    background-color: #7387EF;
}

.footer-item-text {
    color: white;
    padding-bottom: 10px;
}

.about_company {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-icon-list {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon-1,
.footer-icon-2 {
    margin-bottom: 5px;
}

.footer-icon {
    border: #ffffff;
}

@media screen and (min-width: 0px) and (max-width:1199px) {
    .div-about_company {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {

    .footer-icon-1,
    .footer-icon-2 {
        width: 65px;
        height: 64px;
        margin-right: 17px;
    }

    .footer-icon-3 {
        width: 65px;
        height: 64px;
        margin-right: 0;
    }

    .about_company {
        margin-bottom: 40px;
    }

    .social_networks {
        font-size: 24px;
        text-align: center;
        margin-bottom: 45px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .footer>.container {
        padding-top: 54px;
        padding-bottom: 71px;
    }

    .footer-icon-list {
        display: flex;
        flex-direction: row;
    }
}