.R34-rudder {
    display: none;
}
.img-R34 {
    display: none;
}
.R34-h3 {
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.img-R34_2 {
    width: 260px;
}
@media screen and (min-width: 1200px) {
    .GTR-r34>div {
        display: flex;
        flex-direction: row;
    }
    .R34-rudder {
        display: flex;
        width: 250px;
        height: 150px;
        margin-left: 30px;
        margin-right: 70px;
        margin-top: 100px;
    }
    .img-R34_2 {
        display: none;
    }
    .img-R34 {
        display: flex;
        width: 300px;
        height: 197px;
    }
    .R34-h3 {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .R34-list>li {
        display: flex;
        flex-direction: column;
    }
}