.hero {
    background-image: url(../srs/img/main_photo\ 2.jpg);
    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.hero>.container {
    display: flex;
    align-items: center;
}

.hero-text {
    color: red;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url(../srs/img/main_photo\ 1.jpg);
        height: 702px;
    }    
}