.Nissan-line-about-us-wrapper {
 text-align: center;

}


.Nissan-line-about-us-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    color: #000000;
    margin-bottom: 30px;
}

.Nissan-line-about-us-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: left;
    margin-left: 27%;
}