.gtr-our-line{
  // width: 100%;
  background-color: #1E1E1E;
}

.gtr-our-line-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.img1 {
grid-area: img1;
display: none;
}

.img2 {
grid-area: img2;
}

.img3 {
grid-area: img3;
}

.img4 {
grid-area: img4;
display: none;
}

.img5 {
grid-area: img5;
display: none;
}

.img6 {
grid-area: img6;
display: none;
}



html,
body,
.wrapper {
height: 100%;
margin: 0;
}
@media screen and (min-width: 768px) {
.img1 {
  display: block;
  width: 220px;
  height: 150px;
}
.img3 {
  display: none;
}
.img4 {
  display: block;
  width: 150px;
  height: 120px;
}
.img5 {
  display: block;
}
.wrapper {  display: grid;
  grid-template-columns: 252px 321px;
  grid-template-rows: 174.5px 166px;
  gap: 5px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "img1 img2"
    "img4 img5";
    margin-left: auto;
}

.img1 {
  grid-area: img1;
  width: 250px;
  height: 170px;
}

.img4 {
  grid-area: img4;
  width: 250px;
  height: 160px;
}

.img2 {
  grid-area: img2;
  width: 250px;
  height: 170px;
}

.img5 {
  grid-area: img5;
  width: 250px;
  height: 100px;
}

}
@media screen and (min-width: 1200px) {
.wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(264px, 1fr)
  );
  grid-template-rows: repeat(
    auto-fit,
    minmax(114px, 1fr)
  );

  gap: 15px 35px;
  grid-auto-flow: row;
  grid-template-areas:
    "img1 img1 img2 img4"
    "img1 img1 img3 img4"
    "img5 img6 img6 img4";
}

.wrapper li img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заповнює контейнер зображенням */
}
.img1 {
  grid-area: img1;
  // display: none;
  width: 563px;
  height: 375px;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
  display: block;
}

.img4 {
  grid-area: img4;
  // display: none;
  width: auto;
  height: 732px;
}

.img5 {
  grid-area: img5;
  // display: none;
  width: 264px;
  height: 316px;
}

.img6 {
  grid-area: img6;
  display: block;
}

}