.hero {
    background-image: url(../src/img/main_photo2.jpg);
    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.hero>.container {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url(../src/img/main_photo1.jpg);
    }    
}