.our-team-about-us-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
}

.our-team-about-us-list {
    display: flex;
}