.R35-about-us-ul{
    display: flex;
    flex-direction: column;
}

.R35-about-us-wrapper {
    display: flex;
    justify-content: center;
}

.R35-about-us-img {
    width: 480px;
    height: 290px;
    margin-top: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.R35-about-us-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.R35-about-us-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    align-items: center;
    text-align: center;
}

@media screen and (min-width:1200px) {
    .R35-about-us-ul{
        display: flex;
        flex-direction: row;
    }

    .R35-about-us-text{
        margin-right: 50px;
        display: block;
        margin-top: 105px;
    }
}
